<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794124181844-m5dph3m9q4fb8t0ikfc2tqpr438115n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794124181844-m5dph3m9q4fb8t0ikfc2tqpr438115n6</string>
	<key>API_KEY</key>
	<string>AIzaSyCJy3lYVZKs7ZWqC1mh1GB6vkU5X7FJbHg</string>
	<key>GCM_SENDER_ID</key>
	<string>794124181844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.answerFive</string>
	<key>PROJECT_ID</key>
	<string>answerfive-15710</string>
	<key>STORAGE_BUCKET</key>
	<string>answerfive-15710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794124181844:ios:9a4015744d8458cf8a68c1</string>
	<key>DATABASE_URL</key>
	<string>https://answerfive-15710-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>